<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="customSection" type="AppFolderCleaner.CustomSection, AppFolderCleaner" />
	</configSections>

	<customSection>
		<elements>
			<add name="Images folder" path="C:\H2i\HMS\HMI\Data\Images" maxelements="20" />
			<add name="TEST" path="C:\TEMP\TEST" maxelements="100" />
		</elements>
	</customSection>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>